.homepagecontainer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.homecontainerrow{
    padding: 2rem 12%;
}

.newformcontainer{
    background-color: rgb(213, 255, 255);
}

.recentformscontainer{
    flex: 1;
}

.newformbtn{
    width: 200px;
    height: 150px;
    background-color: white;
    border: 0px ;
    margin-top: 1rem;
    box-shadow: rgb(103, 103, 103) 0px 0px 2px;
    border-radius: 3px;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    color: blue;
}

.newformbtn:hover{
    border: blue 1px solid;
}

.formtitle{
    margin-top: 1rem;
}

.formcard{
    width: 200px;
}

.formcardcontainer{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.2rem;
    row-gap: 2rem;
    justify-content: flex-start;
}